/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

a{
  text-decoration: none;
  
}

h1, h2, h3{
  padding-bottom: 20px;
}

/* Utility Classes */
.container{
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.btn{
  background-color: gray;
  color: #fff;
  display: inline-block;
  padding:  0.2rem 2.5rem; 
  border-radius: 4px;
  transition: all 2s;
  
}

.btn:hover{
  /* color: blue; */
  background-color: black;
  cursor: pointer;
}

.btnlight{
  background-color: blue;
  color: #fff;
}

.bgdark{
  background-color: blue;
  color: white;
}
.bglight{
  background-color: gray;
  color: white;
}

.clr{
  clear: both;
}

.btncontact{
  margin: 50px 50px;
}

.spanclass{
  color: blue;
}
/* NavBar Area */
#navbararea{
  background: blue;
  overflow: auto;
}

#navbararea a{
  color: #fff;
}

#navbararea .logo{
  float: left;
  padding: 20px;
}

#navbararea ul{
  float: right;
  list-style: none;
}

#navbararea ul li{
  float: left;
  
  
}

#navbararea ul li a{
  display: block;
  text-align: center;
  padding: 10px;
  transition : all 2s;
  margin-top: 1rem;
}

#navbararea ul li a:hover,
#navbararea ul li a.current{
  background: black;
  color: #fff;
  /* padding: 20px; */
  cursor: pointer;
}

/* Main Area */
#mainarea{
  /* background: url('../image/showcase.jpg') no-repeat center center/cover;
   */
   background:url('../image/boxed-water-is-better-X5UrOwSCYYI-unsplash.jpg')no-repeat center center/cover;
  height: 600px;
}

#mainarea .mainareacontent{
  text-align: center;
  padding-top: 20px;
  color: #fff;

}

#mainarea .mainareacontent p{
  padding-bottom: 50px;
}

#mainarea .mainareacontent h2{
  font-size: 50px;
  padding-bottom: 50px;
  padding-top: 170px;
}

/* Home Info Area */

#homeinfo{
  height: 450px;
}

#homeinfo .homeinfoimg{
  float: left;
  min-height: 100%;
  width: 50%;
  /* background: url('../image/photo-1.jpg') no-repeat center center/cover;
   */
   background: url('../image/ciudad-maderas-MXbM1NrRqtI-unsplash.jpg')no-repeat center center/cover;
}

#homeinfo .homeinfocontent{
  float: right;
  height: 100%;
  width: 50%;
  text-align: center;
  padding-top: 20px;
  overflow: hidden;
}

.homeinfocontent p{
  padding-bottom: 20px;
}


/* Side Attractions */




.box{
  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  /* width: 33.3%; */
  /* padding-top: 20px; */ 
  text-align: center;
}

#sideattractions{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
#mainfooter{
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 0.5px;}

  /* About Page */

/* @media(max-width:768px) {
  body{
    background: red;
  }
} */
  
  
  #aboutpage .aboutimage{
    float: right;
    min-height: 100%;
    width: 50%;
    
  }

  #aboutpage .aboutimage img{
    width: 70%;
    display: block;
    margin: auto;
    padding: 10px 10px;
    border-radius: 100%;
  }

 

  #aboutpage .aboutcontent{
    float: left;
    min-height: 100%;
    width: 50%;
    padding: 20px 20px;
    
  }

  

  #testimonial{
    /* background: url('../image/test-bg.jpg') no-repeat center center/cover;
     */
     background: url('../image/rhema-kallianpur-uocSnWMhnAs-unsplash.jpg')no-repeat center center/cover;
    height: 100%;
  }

  #testimonial .testimonials{
    background-color: blue;
    margin-bottom: 40px;
  }

  #testimonial .testimonials img{
    width: 100px;
    float: left;
    padding-right: 20px;
    border-radius: 100%;
    
  }


  #testimonial h1{
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
    padding-bottom: 50px;
  }

  .testimonials p{
    color: #fff;
  }

  /* Contact Form */
  .formgroup{
    margin: 20px;
    
  }

  .formgroup label{
    display: block;
  }

  .formgroup input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px 10px;
  }

  .formgroup input, textarea:focus{
    outline: none;
    border-color: blue;
  }

 .formgroup textarea:focus{
  outline: none;
  border-color: blue}

 #contactform h2, p{
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
 }
 textarea{
   height: 200px;
 }
  

